<div id="footer" class="footer-padding"></div>
<div class="footer">
  <a href="https://www.linkedin.com/in/carsonxue/"><img src="images/linkedin.png" alt=""></a>
  <a href="https://github.com/carsonxue"><img src="images/github.png" alt=""></a>
  <a href="mailto:carsonxue@gmail.com"><img src="images/email.png" alt=""></a>
</div>

<script>
  {
    window.onscroll = function() {
      var currentScrollPos = window.scrollY;
      if (currentScrollPos > 1) {
        $("#navbar").addClass("nav-hidden");
      } else {
        $("#navbar").removeClass("nav-hidden");
      }
    }
  }
</script>
</body>

</html>
